@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <span id="message"></span>
</div>


@section Scripts
    {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        //建立连接
        var connection = new signalR.HubConnectionBuilder().withUrl("/messageHub").build();
        connection.on("OnMessage", function (message) {
            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

            var li = document.getElementById("message");
            li.innerText = msg;

        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}